<!DOCTYPE html>
<!--
/**
 * @package       IronPHP CRUD Application
 * @auther        GaurangKumar Parmar <gaurangkumarp@gmail.com>
 */
-->
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>IronPHP Framework - CRUD</title>
	<link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="favicon.ico" type="image/x-icon" rel="shortcut icon">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Raleway:500i|Roboto:300,400,700|Roboto+Mono" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body>
    <div class="container">
        <section class="m-3">
            <div class="row">
                <div class="col-lg-12 margin-tb">
                    <div class="pull-left">
                        <h2>IronPHP 1.0 CRUD Example</h2>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-lg-8">
                    <h2>All Products</h2>
                </div>
                <div class="col-lg-4 pull-right push-right float-right">
                    <a class="btn btn-success pull-right push-right float-right" href="{{server_root}}/create">Create New Product</a>
                </div>
            </div>
            <!--
            @if ($message = Session::get('success'))
                <div class="alert alert-success">
                    <p>{{ $message }}</p>
                </div>
            @endif
            -->
            <table class="table table-bordered table-striped table-hover">
                <thead class="text-white bg-primary">
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Details</th>
                    <th width="280px">Action</th>
                </thead>
                {{products:}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>$ {{price}}</td>
                    <td>{{detail}}</td>
                    <td>
                    	<form action="{{server_root}}/{{id}}" method="POST">
			                <input type="hidden" name="_method" value="DELETE">
                            <a class="btn btn-sm btn-info text-white" href="{{server_root}}/{{id}}"><i class="fas fa-eye"></i> Show</a>

                            <a class="btn btn-sm btn-primary text-white" href="{{server_root}}/{{id}}/edit"><i class="fas fa-edit"></i> Edit</a>

                            <button class="btn btn-sm btn-danger text-white"><i class="fas fa-trash"></i> Delete</button>
			            </form>
                    </td>
                </tr>
                {{:products}}
            </table>

            <nav aria-label="Product Page Navigation">
                {{pagination}}
            </nav>

        </section>
    </div>

<!--
    <header class="style">
        <img src="logo.png" alt="IronPHP" width="100">
        <h1>{{name}} {{version}}</h1>
    </header>
    <h1 style="font-size:50px">The PHP Framework</h1>
    <h3 style="text-align:center">
        Developed and Maintained By <a href="https://twitter.com/gaurangkumarp" title="GaurangKumar on Twitter">GaurangKumar</a>
        On
        <a href="https://github.com/ironphp/ironphp" title="IronPHP on GitHub">
            <i class="fab fa-1x fa-github"></i> Github
        </a>
    </h3>
    <h3 style="text-align:center">
        Follow us on <a href="https://www.facebook.com/IronPHP-Framwork-325690624644002/" title="IronPHP on Facebook">
        <i class="fab fa-1x fa-facebook"></i> Facebook
        </a>
    </h3>
-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
